<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>English to Japanese Name Converter</title>
        <link rel ="style.css">
    </head>
    <body>
        <div style = "background-color : grey">
            <h1>-------------English to Japanese Name Converter----------------</h1>
        </div>
        <hr>
        <div style = "background-color : grey">
            <form name = 'passdata' action = "." method = "post">
                <p><b>Please enter your name : </b></p>
                <p>Name : <input type = "text" name = "username"></p>
                <input type = "submit" value = "Submit">
            </form>
        </div>
    </body>
</html>